.section {
    background-color: #ffffff;
    padding-bottom: 10%;
}

.container {
    /*background-color: rgb(153, 103, 176);*/
    width: 70%;
    text-align: center;
    padding: 2%;
}

.featureBox {
    width: 100%;
    /*background-color: rgb(245, 241, 241);*/
}

.featureDescription {
    color: #484848;
    font-size:35px;
    font-weight:900;
    letter-spacing:1px;
    text-transform:uppercase;
}

.featureDescriptionSpan {
    color: #2b7cda;
    font-size:35px;
    font-weight:900;
    letter-spacing:1px;
    text-transform:uppercase;
}

.featureItemDescription {
    color: #3b3b3b;
    font-size:20px;
    font-weight:900;
    padding-left: 2%;
    letter-spacing:1px;
    text-transform:uppercase;
}

.featureItemSubDescription {
    font-family: product-sans;
    color: #595959;
    font-size:17px;
    font-weight:400;
    padding: 4% 15% 6% 2%;
}
